################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIBracket.API/obj
/AIBracket.GameLogic/obj
/AIBracket.Web/obj
/AIBracket.Web/bin/Debug/netcoreapp2.2
/AIBracket.Data/obj
/AIBracket.API/bin/Debug/netcoreapp2.2
/.vs/AIBracket
/.vs/slnx.sqlite
**/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs
/AIBracket.Data/bin/Debug/netcoreapp2.2