.game {
  float: left;
  width: 448px;
  height: 600px;
  background-color: white;
  border: 1px solid black;
}

.chat {
  height: 600px;
  width: 307px;
  border: 1px solid black;
  border-left-width: 0;
  display: inline-block;
  background-color: #A0A0A0;
}

.chat-header {
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0;
}

.chat-text {
  overflow-y: auto;
  height: 525px;
  background-color: white;
  margin: 0;
}

.chat-box {
  width: 243px;
  height: 45px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-width: 0;
  border-left-width: 0;
  resize: none;
  float: left;
}

.chat-button {
  width: 50px;
  height: 45px;
  float: left;
}
