body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px !important;
  padding: 0px;
  font-family: Verdana, Geneva, sans-serif;
}

.max-height{
  height: 100%;
}

.container{
  position: absolute;
  bottom: 0;
  top: 65px;
  left: 0;
  right: 0;
}

.router-container{
  margin-top: 25px;
}

.background {
  overflow-y: auto;
}

.mat-sidenav-container{
  position: relative;
  height: 100%;
  background-color: #E0E0E0;
}

.example-container {
  width: 100%;
}

.side-nav{
  padding: 15px;
}

.mat-button /deep/ .mat-button-focus-overlay {
  background-color: transparent;
}

/deep/ .mat-drawer-inner-container {
  background-color: #F0F0F0;
}
