
<form [formGroup] ="profileForm" class="login-form">
  <mat-card class="login-card">
    <mat-card-title>Please login</mat-card-title>
    <mat-card-content>
      <div class="login-credentials">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password"/>
        </mat-form-field>
        <div class="submit-button">
          <button mat-raised-button (click)="onSubmit()">GO</button>
          <button mat-raised-button routerLink ="/create-account">Create</button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</form>


