.login-credentials{
  display:flex;
  flex-direction: column;
}

.login-card {
  margin-top: 2em;
  padding: 3em;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
