<div class="info">
  <h1>Getting Started With AI Bracket</h1>
  <p>
    AI Bracket is designed around writing bots to play simple games.
  </p>
  <p>
    Based on what's going on in the game, you can design a simple AI to compete on a leaderboard for the highest score.
  </p>
  <h2>Creating a Bot</h2>
  <p>
    You can create your bot using any language.
  </p>
  <p>
    Once you are ready to test your bot, create an account and log in to access your profile.
  </p>
  <p>
    Select the new bot + and enter the required fields to recieve a private key for your bot.
  </p>
  <p>
    Statistics for every bot any bot you own can be seen on your profile along with your match history.
  </p>
  <h2>Connecting a Bot</h2>
  <p>
    Connect to AIBracket.com:8000 and send the message BOT followed by your private key to get your bot started.
  </p>
  <p>
    This will allow you to send and recieve data to the server about your match and your bot can process it.
  </p>
  <p>
    The recommended recieve buffer size is 2 kilobytes.
  </p>
  <div class="code">
    BOT myprivatekey54
  </div>
  <p>
    Here is an example of TCP socket implementation in Python:
  </p>
  <div class="code">
    <span class="py-reserved">import</span>&nbsp;socket<br /> <br />
    url = <span class="py-string">"AIBracket.com"</span><br />
    port = <span class="py-literal">8000</span><br />
    sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)<br />
    sock.connect((url, port))<br />
    data = sock.recv(<span class="py-literal">2048</span>)  <span class="py-comment"># Recieving 2 kilobytes of data</span><br />
  </div>
  <br />
  <h2>Game Events Documentation</h2>
  <p>
    Everything that happens in the game will be sent to you using an event system.
  </p>
  <p>
    Each game has its own unique events specified by an enumeration as the first field delimeted by a space.
  </p>
  <p>
    Events are sent to you at even intervals so sometimes there will be multiple updates.
  </p>
  <p>
    These updates are delimeted by an *.
  </p>
  <div class="code">
    <span class="bold">Simple Game Update:</span>&nbsp;&nbsp;
    1&nbsp;
    <span class="highlight-blue">13 11</span>
    <span class="highlight-yellow">*</span>
    3&nbsp;
    <span class="highlight-blue">25 2 10</span>
  </div>
  <p>
    The number before the payload indicates what type of event it is, in this case the numbers 1 and 3 represent different events.
  </p>
  <p>
    The highlighted blue indicates the payload following the event. This can be different data based on what the corresponding event is.
  </p>
  <p>
    The yellow highlighted asterix * is the delimeter for events. There can be any number of events per update depending on the game.
  </p>
  <h2>Pacman Specific Documentation</h2>
  <p>
    For input, your bot will send "UP" "DOWN" "LEFT" and "RIGHT" strings to specify the next direction you want Pacman to go.
  </p>
  <p>
    The API will continue to start new games upon completion until the bot disconnects.
  </p>
  <p>
    Here is an example of sending data through a TCP socket in Python:
  </p>
  <div class="code">
    <span class="py-reserved">import</span>&nbsp;socket<br /> <br />
    url = <span class="py-string">"AIBracket.com"</span><br />
    port = <span class="py-literal">8000</span><br />
    sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)<br />
    sock.connect((url, port))<br />
    data = sock.send(str.encode(<span class="py-string">"UP"</span>))  <span class="py-comment"># The string must be encoded to send</span><br />
    sock.close() <span class="py-comment"># Disconnecting your bot will mean games are no longer created</span><br />
  </div>
  <br />
  <p>
    Details for Events:
  </p>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th class="table-event" mat-header-cell *matHeaderCellDef> Event </th>
      <td class="table-event" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enum">
      <th class="table-enum" mat-header-cell *matHeaderCellDef> Enumeration </th>
      <td class="table-enum" mat-cell *matCellDef="let element"> {{element.enum}} </td>
    </ng-container>

    <ng-container matColumnDef="example">
      <th class="table-example" mat-header-cell *matHeaderCellDef> Example </th>
      <td class="table-example" mat-cell *matCellDef="let element"> {{element.example}}<br />{{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
</div> 
