<div class="info">
  <h1>Getting Started With AI Bracket</h1>
  <p>
    AIBracket is designed around writing bots to play easy to understand and competitive games.
  </p>
  <p>
    We provide an easy to understand API for you to connect a program in your choice of language to compete against other bots.
  </p>
  <h2>Creating a Bot</h2>
  <p>
    Before you can connect a bot you must create an account and log in to access your profile.
  </p>
  <p>
    Select the new bot + and enter the required fields to recieve a private key for your bot.
  </p>
  <p>
    Statistics for every bot you control can be seen on your profile along with your match history.
  </p>
  <h2>Connecting a Bot</h2>
  <p>
    Connect to AIBracket.com:8000 and send the message BOT followed by your private key to get your bot started.
  </p>
  <div class="code">
    BOT myprivatekey54
  </div>
  <p>
    This identifies you with the game server so we know which bot is connecting. Treat this like a password, and don&rsquo;t give it to anyone. This can be found under your bot&rsquo;s name on your profile.
  </p>
  <p>
    Here is an example of TCP socket implementation in Python:
  </p>
  <div class="code">
    <span class="py-reserved">import</span>&nbsp;socket<br /> <br />
    <span>url = </span><span class="py-string">"AIBracket.com"</span><br />
    <span>port = </span><span class="py-literal">8000</span><br />
    <span>sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)</span><br />
    <span>sock.connect((url, port))</span><br />
    <span>data = sock.recv(<span class="py-literal">2048</span>)  </span><span class="py-comment"># Recieving 2 kilobytes of data</span><br />
  </div>
  <p>
    The recommended recieve buffer size is 2KB, as some packets can exceed 1KB in length.
  </p>
  <h2>Game Events Documentation</h2>
  <p>
    Everything that happens in the game will be sent to you using an event system.
  </p>
  <p>
    Each game has its own unique events specified by an enumeration as the first field delimeted by a space.
  </p>
  <p>
    Events are sent to you at even intervals so sometimes there will be multiple updates.
  </p>
  <p>
    These updates are delimeted by an *.
  </p>
  <div class="code">
    <span class="bold">Simple Game Update:</span>&nbsp;&nbsp;
    <span class="highlight-blue">1</span>&nbsp;13 11
    <span class="highlight-yellow">*</span>
    <span class="highlight-blue">2</span>&nbsp;2 5 2 False False
  </div>
  <p>
    The highlighted blue indicates the what type of event it is. In this case, the events we recieved were events 1 and 2. See the table below for a full description of the events.
  </p>
  <p>
    The numbers after the payload indicates payload following the event. This can be different data based on what the corresponding event is.
  </p>
  <p>
    The yellow highlighted asterix * is the delimeter for events. There can be any number of events per update depending on the game.
  </p>
  <h2>Pacman Specific Documentation</h2>
  <p>
    For input, your bot will send "UP" "DOWN" "LEFT" and "RIGHT" strings to specify the next direction you want Pacman to go.
  </p>
  <p>
    The API will continue to start new games upon completion until the bot disconnects.
  </p>
  <p>
    Here is an example of sending data through a TCP socket in Python:
  </p>
  <div class="code">
    <span class="py-reserved">import</span>&nbsp;socket<br /> <br />
    <span>url = <span class="py-string">"AIBracket.com"</span></span><br />
    <span>port = <span class="py-literal">8000</span></span><br />
    <span>sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)</span><br />
    <span>sock.connect((url, port))</span><br />
    <span>data = sock.send(str.encode(<span class="py-string">"BOT myprivatekey54"</span>))</span> <span class="py-comment"># The string must be encoded to send</span><br />
    <span class="py-reserved">while true:</span><br />
    <span class="py-comment">&nbsp;&nbsp;# Game loop to process game events</span><br />
    &nbsp;<br />
    <span>sock.close()</span> <span class="py-comment"># Disconnecting your bot will terminate the game</span><br />
  </div>
  <br />
  <p>
    Details for Events:
  </p>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th class="table-event" mat-header-cell *matHeaderCellDef> Event </th>
      <td class="table-event" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enum">
      <th class="table-enum" mat-header-cell *matHeaderCellDef> Enumeration </th>
      <td class="table-enum" mat-cell *matCellDef="let element"> {{element.enum}} </td>
    </ng-container>

    <ng-container matColumnDef="example">
      <th class="table-example" mat-header-cell *matHeaderCellDef> Example </th>
      <td class="table-example" mat-cell *matCellDef="let element"> {{element.example}}<br />{{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
</div> 
