h1 {
  font: 38px Verdana;
  font-weight: 600;
}

h2 {
  font: 32px Verdana;
  font-weight: 600;
}

p {
  font: 18px Verdana;
}

li {
  font: 18px Verdana;
}

table {
  width: 100%;
  display: table;
  white-space: pre-line;
  table-layout: fixed;
}

.table-event {
  width: 16%;
}

.table-enum {
  width: 8%;
}

.table-example {
  width: 76%;
}

.info {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.game-documentation-list {
  height: 500px;
}

.code {
  font-size: 18px;
  padding: 9px;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  display: block;
  white-space: pre-wrap;
}

.highlight-yellow {
  background-color: rgba(244, 238, 66, 0.5);
}

.highlight-blue {
  background-color: rgba(66, 155, 244, 0.5);
}

.highlight-purple {
  background-color: rgba(172, 65, 244, 0.5);
}

.py-reserved {
  color: #A00000
}

.py-comment {
  color: #008000;
}

.py-string {
  color: #004080;
}

.py-literal {
  color: #0080C0;
}

.bold {
  font-weight: bold;
}
