<mat-card class="profile-card">
  <h1 *ngIf="user != null">{{user.userName}}'s Profile</h1>
  <div class="section">
    <h2>Bots</h2>
    <mat-accordion class="bot-expander">
      <mat-expansion-panel [expanded]="CreationExpanded" (opened)="CreationExpanded = true">
        <mat-expansion-panel-header style="padding-left: 10px; background-color: #A9F5A9">
          <mat-panel-title>
            <div class="add-bot-title">
              <mat-icon>add</mat-icon><p>New Bot</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="newBotForm">
          <mat-form-field style="width:100%;">
            <input matInput placeholder="Name" formControlName="Name" required />
          </mat-form-field>
          <br />
          <mat-form-field style="width:100%;">
            <mat-select placeholder="Game" formControlName="Game" required>
              <mat-option value="1">Pacman</mat-option>
              <mat-option value="2">Tanks</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <button mat-raised-button (click)="createBot()" type="button" class="create-bot-button">Create</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let bot of bots; let i = index" [expanded]="newId == bot.id" (closed)="newId = null;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{bot.name}}</p>
          </mat-panel-title>
          <mat-panel-description>
            <p>{{mapGameName(bot.game)}}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Private Key: <span *ngIf="bot.showSecret">{{bot.privateKey}}</span><span class="fake-anchor" (click)="showSecret(i)" *ngIf="!bot.showSecret">Show secret</span></p>
        <span style="margin-top:5px; font-size:20px;">History:</span><br />
        <div class="history" *ngIf="bot.history != null && bot.history.length > 0">
          <mat-list dense *ngFor="let history of bot.history">
            <mat-list-item style="font-size: 18px;">Score: {{history.score}} <div style="position: relative; right: 0; margin-left: auto;">{{history.startDate}} - {{history.endDate}}</div></mat-list-item>
          </mat-list>
        </div>
        <div class="no-history" *ngIf="bot.history == null || bot.history.length == 0" style="text-align: center;">
          <span>This bot has not played a game yet.</span>
        </div>
        <p>
          <button mat-raised-button color="warn" style="float: right;" (click)="deleteBot(bot.id)">Delete</button>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <p></p>
    <mat-divider></mat-divider>
  </div>
  <div class="section">
    <h2>Tournaments</h2>
    <div style="text-align: center;" *ngIf="tournaments == null">
      <p>You haven't participated in any tournaments</p>
      <p>:(</p>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="section">
    <h2>Preferences</h2>
  </div>
</mat-card>
