.profile-card {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color:#C0C0C0;
}

.section{
  margin-bottom: 10px;
  padding-top: 10px;
}

.bot-expander{
  padding-bottom: 10px;
}

.mat-expansion-panel-header-title {
  width: 140px;
}

.dot-active {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-right: 15px;
  background-color: #36c804;
  border-radius: 50%;
  opacity: 0.7;
  display: inline-block;
}

.dot-inactive {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-right: 15px;
  background-color: #C5C0D1;
  border-radius: 50%;
  opacity: 0.7;
  display: inline-block;
}

.fake-anchor {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.create-bot-button{
  float: right;
}

.bot-title{
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.add-bot-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

