.login-credentials {
  display: flex;
  flex-direction: column;
}

.create-card {
  display: flex;
  flex-direction: column;
  padding: 3em;
  margin-top: 2em;
  width: 75%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.create-button {
  float: right;
}
