<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row-flex">
      <span routerLink ="/home">
        AIBracket
      </span>
    </div>
    <span class="space"></span>
    <span>
      <button *ngIf="account == null" color="primary" routerLink="/login" mat-raised-button>Login</button>
      <div *ngIf="account != null" class="profile-name">
        <span>{{account.firstName}} {{account.lastName}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewProfile()">View Profile</button>
          <button mat-menu-item (click)="Logout()">Logout</button>
        </mat-menu>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
