.space{
  display:flex;
  flex: 1 1 auto;
}
.row-flex{
  display:flex;
  justify-content: space-between;
}

.logout-button{
  float: right;
}

.user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.user-button mat-icon{
  margin-left: 5px;
}
