<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="OpenNav()"><mat-icon>menu</mat-icon></button>
    <button mat-button routerLink="/home">
      <h1>AIBracket</h1>
    </button>
    <span class="space"></span>
    <div>
      <button *ngIf="account == null" color="primary" routerLink="/login" mat-raised-button>Login</button>
      <div *ngIf="account != null">
        <button mat-button [matMenuTriggerFor]="menu"><div class="user-button">{{ getDisplayName() }}<mat-icon inline=true>person</mat-icon></div></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewProfile()">View Profile</button>
          <button mat-menu-item (click)="Logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
