
<mat-card>
  <mat-card-title>Welcome to AI Bracket!</mat-card-title>
  <mat-card-content>

    AI bracket is a website where players can test their skills
    with AI! We offer  a free API where you can
    submit your own game commands and see how it does
    against other submitted AI. Below you can
    find information on some of the games
    that are available to program in and
    some information regarding our API. <b>Please login to create an ai just sit back and watch as live games are played!</b>
  </mat-card-content>
</mat-card>


