.header{
  font-size: 70px;
  opacity: 0.4;
  border-bottom: solid;
  border-width: 2px;
  border-color: #EAEAEA;
}

.container{
  padding-left: 70px;
}

.game{
  width: 550px;
  height: 600px;
  background-color: white;
  border: 1px solid black;
}
